# =========================
# Python (Backend)
# =========================
backend/.env
backend/venv/
backend/.venv/
backend/__pycache__/
backend/**/*.py[cod]

# =========================
# React (Frontend)
# =========================
frontend/node_modules/
frontend/dist/
frontend/.env


# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db